<% layout("./layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h1><%= listing.title %></h1>
      <div class="card mb-3 border-0">
        <img
          src="<%=listing.image.url%>"
          class="card-img-top"
          alt="Listing_image"
        />
        <div class="card-body">
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text">
            <b> &#8377;<%= listing.price.toLocaleString("en-IN") %>/night </b>
          </p>
        </div>
      </div>
      <div class="row">
        <form
          method="get"
          action="/listings/<%= listing._id %>/edit"
          class="col-1 mb-3"
        >
          <button class="btn btn-danger edit-btn">Edit</button>
        </form>

        <form
          action="/listings/<%=listing._id%>?_method=DELETE"
          method="post"
          class="col-4 mb-3"
        >
          <button class="btn btn-dark del-btn">Delete</button>
        </form>
        <hr />



        <% /* Reviews */ %>
        <form
          action="/listings/<%=listing._id%>/review"
          method="post"
          novalidate
          class="mb-3 needs-validation"
        >
          <h3>Add Review</h3>
          <div>
            <label for="rating" class="form-label">Rating: </label>
            <input
              type="range"
              min="1"
              max="5"
              name="review[rating]"
              id="rating"
              class="form-range"
            />
          </div>

          <div>
            <label for="comment" class="form-label">Comment: </label>
            <textarea
              name="review[comment]"
              id="comment"
              class="form-control"
              cols="30"
              rows="5"
              required
            ></textarea>
            <div class="valid-feedback">coment recieved</div>
            <div class="invalid-feedback">plz. add some comment</div>
          </div>

          <button class="btn btn-outline-dark mt-3">Post</button>
        </form>

        <hr />

        <h2>All Reviews</h2>

        <ul>
          <div class="row">
            <% for(let review of listing.review) { %>
            <div class="card col-5 m-2">
              <h4 class="card-text">Siddhant Agre</h4>
              <p class="card-text"><%= review.comment %></p>
              <p class="card-text mb-2"><%= review.rating %> stars</p>

              <form action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" class="mb-2" method="post">
                <button class="btn btn-dark btn-sm">Delete</button>
              </form>
            </div>
            <% } %>
          </div>  
        </ul>
      </div>
    </div>
  </div>
</body>
