<% layout("/layouts/boilerplate") %>
<body>
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for(list of listings) { %>
    <div class="col mt-3">
      <a class="text-decoration-none" href="/listings/<%= list._id %>">
        <div class="card mb-3 border-0">
            <img src=<%=list.image.url%> class="card-img-top"
            alt="Listing_image" />
            <div class="card-img-overlay"></div>
          <div class="card-body">
            <h5 class="card-title"><%= list.title %></h5>
            <p class="card-text"><%= list.description %></p>
            <p class="card-text">
              <b> &#8377;<%= list.price.toLocaleString("en-IN") %>/night </b>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</body>
